---
---

@import "minima";

:root {
	--s360-main-color: #4A7072;
	--s360-dark-main-color: #1A3132;
	--s360-light-main-color: #D0DDDE;
	--s360-secondary-color: #68606F;
	--s360-dark-secondary-color: #756F7A;
	--s360-light-secondary-color: #CCCCCC;
	--s360-focus-color: #CD884B;
	--s360-dark-focus-color: #A44D21;
	--s360-light-focus-color: #E58351;
	--s360-black-color: #000;
	--s360-white-color: #fff;
	--s360-atrisk-color: #f44336;
	--s360-stretch-color: #2196F3;
}

h1 {
  font-weight: bold;
}

img[alt="icon"] {
  width: 25px;
}

img[alt="logo"] {
  width: 200px;
}

img[alt="release-note"] {
  width: 300px;
}

img[alt="release-note-large"] {
  width: 600px;
}

img[alt="person"] {
  width: 100px;
}

blockquote {
  font-size: 24px;
}

td {
  width: 33%;
  vertical-align: top;
  border-right: 1rem solid white!important;
  border-top: 0px!important;
  border-bottom: 0px!important;
  background-color: #FEF6EC;
  padding-left: 0px!important;
  padding-right: 0px!important;
  padding-top: 0px!important;
  padding-bottom: 10px!important;
}

.site-nav a.current {
  font-weight: bolder;
  color: black;
}

.site-nav {
  background-color: #FDE5C5;
}

html {
  scroll-padding-top: 120px; /* height of sticky header */
}

.site-header {
    background-color: #FDE5C5;
    padding: 30px;
    position: sticky;
    top: 0;
    border-top: 0px!important;
  }
  
.site-footer {
  background-color: #FDE5C5;
  padding: 30px;
  color: black;
}

.header-logo {
  padding-left: 40px;
}

.site-nav .menu-icon svg {
  fill: black;
}

.svg-icon {
  fill: white;
}

.footer-col-wrapper {
  color: black;
}

.footer-col-wrapper a {
  color: black;
}

a.page-link:link { text-decoration: none; }
a.page-link:visited { text-decoration: none; }
a.page-link:hover { text-decoration: none; }
a.page-link:active { text-decoration: none; }

.site-nav .page-link {
    color: black;
    text-shadow: -.25px -.25px 0 transparent, 
    .25px .25p transparent;
    font-size: 15px;
}

 a.page-link:hover {
  text-shadow: -.25px -.25px 0 white, 
  .25px .25px white;
}

.wrapper {
  max-width: 1000px;
}

.main-menu-item {
  list-style-type: none;
  color: white;
}

#view-menu, #perspective-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 3px;
}

.button {
  border-color: #51bbb4;
  padding: 5px;
  border-style: solid;
  border-radius: 4px;
  font-size: small;
}
