---
layout: default
---
<div class="home">

    <div class="trigger">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
  
    {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.menu -%}
        <h1 id="{{my_page.menu}}">{{ my_page.title | upcase }}</h1>
        <!-- a href="{{ my_page.url | relative_url }}" {% if page.url == my_page.url %} class="page-link current" {% else %} class="page-link" {% endif %}>{{ my_page.menu | upcase | escape }}</a -->
        {{ my_page.content }}
        <hr>
        {%- endif -%}
    {%- endfor -%}
    </div>


</div>
